## Coding Practice-Linear Regression


Given is the [data](https://media-doselect.s3.amazonaws.com/generic/OzvzVqK4pgg4x7qEadoZMRyVR/insurance.csv) of individuals and their healthcare charges billed by their insurance provider. Following are the columns in the dataset

1. sex: Gender of individual- female, male
2. bmi: Body mass index, you can read more about BMI [here](https://www.cdc.gov/bmi/about/index.html).
3. children: Number of children covered by health insurance / Number of dependents.
4. smoker: Indicates whether the person smokes or not.
5. region: The individual's residential area in the US.
6. charges: Medical costs borne by health insurance provider for the individual

Here, "charges" will be the dependent variable and all other variables are independent variables.

Following are some questions that require you to do some EDA, data preparation and finally perform linear regression on the dataset to predict healthcare charges for individuals.

### 1. Create another feature based called BMI_group which groups people based on their BMI. The groups should be as follows:
* Underweight: BMI is less than 18.5.
* Normal: BMI is 18.5 to 24.9.
* Overweight: BMI is 25 to 29.9.
* Obese: BMI is 30 or more.

The grouping is based on [WHO standards](http://www.euro.who.int/en/health-topics/disease-prevention/nutrition/a-healthy-lifestyle/body-mass-index-bmi).

The output should have first five rows of the resulting dataframe.

In [1]:
import pandas as pd 
df=pd.read_csv("data/insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
df['BMI_group'] = df['bmi'].apply(
    lambda x: 'Underweight' if x<18.5 else 
        'normal'if x<= 24.9  else
            'Overweight' if x<=29.9  else
                'Obese'
)

df.head()

   age     sex     bmi  children smoker     region      charges   BMI_group
0   19  female  27.900         0    yes  southwest  16884.92400  Overweight
1   18    male  33.770         1     no  southeast   1725.55230       Obese
2   28    male  33.000         3     no  southeast   4449.46200       Obese
3   33    male  22.705         0     no  northwest  21984.47061      normal
4   32    male  28.880         0     no  northwest   3866.85520  Overweight