In [7]:
import numpy as np
import pandas as pd

In [13]:
# pd.read_csv("path/filename.csv")
# windows : pd.read_csv(r"path/filename.csv")

In [15]:
df = pd.read_csv('/Users/akashdeepmakkar/Desktop/Weekend/Sunday/phone_usage_india.csv')
df.head()

,User ID,Age,Gender,Location,Phone Brand,OS,Screen Time (hrs/day),Data Usage (GB/month),Calls Duration (mins/day),Number of Apps Installed,Social Media Time (hrs/day),E-commerce Spend (INR/month),Streaming Time (hrs/day),Gaming Time (hrs/day),Monthly Recharge Cost (INR),Primary Use
0,U00001,53,Male,Mumbai,Vivo,Android,3.7,23.9,37.9,104,3.9,469,5.2,4.1,803,Education
1,U00002,60,Other,Delhi,Realme,iOS,9.2,28.1,13.7,169,2.8,4997,5.1,0.4,1526,Gaming
2,U00003,37,Female,Ahmedabad,Nokia,Android,4.5,12.3,66.8,96,3.0,2381,1.7,2.9,1619,Entertainment
3,U00004,32,Male,Pune,Samsung,Android,11.0,25.6,156.2,146,5.2,1185,3.2,0.3,1560,Entertainment
4,U00005,16,Male,Mumbai,Xiaomi,iOS,2.2,2.5,236.2,86,5.5,106,3.4,2.3,742,Social Media

In [21]:
df.columns

Index(['User ID', 'Age', 'Gender', 'Location', 'Phone Brand', 'OS',
       'Screen Time (hrs/day)', 'Data Usage (GB/month)',
       'Calls Duration (mins/day)', 'Number of Apps Installed',
       'Social Media Time (hrs/day)', 'E-commerce Spend (INR/month)',
       'Streaming Time (hrs/day)', 'Gaming Time (hrs/day)',
       'Monthly Recharge Cost (INR)', 'Primary Use'],
      dtype='object')

In [31]:
# 1. Find users who spend more than 8 hours on the screen daily
# but have less than 500 INR of e-commerce spend
a1 = df.where((df['Screen Time (hrs/day)']>8) & (df['E-commerce Spend (INR/month)']<500)).dropna()

In [47]:
a1[['User ID','Screen Time (hrs/day)','E-commerce Spend (INR/month)']].head()

    User ID  Screen Time (hrs/day)  E-commerce Spend (INR/month)
36   U00037                    9.4                         498.0
37   U00038                   11.9                         479.0
91   U00092                   10.9                         305.0
157  U00158                   11.5                         206.0
183  U00184                   10.4                         126.0

In [41]:
# 2. Create a new column in the dataset that is the difference
# of gaming time from the screen time
df['newcol'] = df['Screen Time (hrs/day)'] - df['Gaming Time (hrs/day)']
df.head()

,User ID,Age,Gender,Location,Phone Brand,OS,Screen Time (hrs/day),Data Usage (GB/month),Calls Duration (mins/day),Number of Apps Installed,Social Media Time (hrs/day),E-commerce Spend (INR/month),Streaming Time (hrs/day),Gaming Time (hrs/day),Monthly Recharge Cost (INR),Primary Use,newcol
0,U00001,53,Male,Mumbai,Vivo,Android,3.7,23.9,37.9,104,3.9,469,5.2,4.1,803,Education,-0.4
1,U00002,60,Other,Delhi,Realme,iOS,9.2,28.1,13.7,169,2.8,4997,5.1,0.4,1526,Gaming,8.8
2,U00003,37,Female,Ahmedabad,Nokia,Android,4.5,12.3,66.8,96,3.0,2381,1.7,2.9,1619,Entertainment,1.6
3,U00004,32,Male,Pune,Samsung,Android,11.0,25.6,156.2,146,5.2,1185,3.2,0.3,1560,Entertainment,10.7
4,U00005,16,Male,Mumbai,Xiaomi,iOS,2.2,2.5,236.2,86,5.5,106,3.4,2.3,742,Social Media,-0.1

In [ ]:
# 3. Find the average data usage per phone brand and OS (in a single step)

In [45]:
df.groupby(["Phone Brand","OS"])['Data Usage (GB/month)'].mean()

Phone Brand   OS
Apple         Android    24.981456
              iOS        24.628460
Google Pixel  Android    26.334217
              iOS        25.799666
Motorola      Android    25.300698
              iOS        26.033956
Nokia         Android    25.280973
              iOS        24.747588
OnePlus       Android    25.139263
              iOS        25.980163
Oppo          Android    25.832798
              iOS        25.673460
Realme        Android    25.595205
              iOS        24.687652
Samsung       Android    25.340203
              iOS        25.093950
Vivo          Android    25.816944
              iOS        24.688926
Xiaomi        Android    26.032308
              iOS        25.394177
Name: Data Usage (GB/month), dtype: float64